### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [22]:
#counting length of the unique values in SN column of the data frame
count = len(purchase_data_df["SN"].unique())
#Putting the count into a dictonary of list
count1 = [{"Total Players" : count}]
#Creating a data frame to display the total number of players
noofplayers_df = pd.DataFrame(count1)
#printing the data frame
noofplayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#Calculating unique items, average price, number of purchases and total revenue
uniitems = len(purchase_data_df["Item ID"].unique())
avgprice = purchase_data_df["Price"].mean(axis=0)
noofpurchases = purchase_data_df["Purchase ID"].count()
totalrevenue = purchase_data_df["Price"].sum()
#Inserting all new calculations into a summary table
summary_df = [{"Number of Unique Items": uniitems, "Average Price": avgprice, "Number of Purchases" : noofpurchases, "Total Revenue" : totalrevenue}]
summary_df = pd.DataFrame(summary_df)
#Formatting the Average Price and Total Revenue object to include $ sign and decimal points. 
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,}".format)
#Aligning the data to align left
summary_df = summary_df.style.set_properties(**{'text-align':'left'})
#Prining the data frame
summary_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [24]:
#Grouping the data frame by Gender and getting unique count of column SN
groupedpurchase = purchase_data_df.groupby('Gender').agg({ "SN": "nunique"})
#Inserting new column called Total Count
groupedpurchase.columns=["Total Count"]
#Inserting new column called Percentage of Players and calculating the percentange of total players by Gender
groupedpurchase["Percentage of Players"] = (groupedpurchase["Total Count"]/purchase_data_df["SN"].nunique())*100
#Dropping the name of the index
groupedpurchase.index.name=None
#Formatting the column Percentage of Players to have % sign and two decimal points
groupedpurchase["Percentage of Players"] = groupedpurchase["Percentage of Players"].map("{:.2f}%".format)
#Sorting the data frame by Total Count
groupedpurchase = groupedpurchase.sort_values("Total Count", ascending=False)
#Aligning all the text to be left indented
groupedpurchase = groupedpurchase.style.set_properties(**{'text-align':'left'})
#Setting all table style to be left indented which causes the index to be left indented as well
groupedpurchase.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])
#Printing the table
groupedpurchase


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#Grouping the data frame by Gender and getting unique count of column SN, count of Purchase Id and mean & sum of Price
purchanalysis = purchase_data_df.groupby('Gender').agg({"Purchase ID": "count", "Price": ["mean", "sum"], "SN": "nunique"})
#Inserting new columns
purchanalysis.columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value", "SN"]
#Calculating Avg Total Purchase per Person and inserting the column
purchanalysis["Avg Total Purchase per Person"] = purchanalysis["Total Purchase Value"]/purchanalysis["SN"]
#Deleting column SN
del purchanalysis ["SN"]
#Formatting Average Purchase Price, Total Purchase Value and Avg Total Purchase per Person to have $ sign and two decimal points
purchanalysis["Average Purchase Price"] = purchanalysis["Average Purchase Price"].map("${:.2f}".format)
purchanalysis["Total Purchase Value"] = purchanalysis["Total Purchase Value"].map("${:.2f}".format)
purchanalysis["Avg Total Purchase per Person"] = purchanalysis["Avg Total Purchase per Person"].map("${:.2f}".format)
#Aligning all the text to be left indented
purchanalysis = purchanalysis.style.set_properties(**{'text-align':'left'})
#Setting all table style to be left indented which causes the index to be left indented as well
purchanalysis.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
#Establishing bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
#Creating labels for the bin
group_labels = ["<10","10-14","15-19","20-24","25-29", "30-34", "35-39", "40+"]
#Using cut method to slice the data by Age, applying group labels and to include the lowest range 
pd.cut(purchase_data_df["Age"], bins, labels=group_labels).head()
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels, include_lowest=True)
#Grouping the data frame by new column and include unique counts of column SN to get total count by age
Agerange = purchase_data_df.groupby("Age Ranges").agg({"SN": "nunique"})
#Inser the new column
Agerange.columns=["Total Count"]
#Calculate percentage of players in each age range and insert in new column of percentage of playes
Agerange["Percentage of Players"] = (Agerange["Total Count"]/Agerange["Total Count"].sum())*100
#Formatting Percentage of Players to display % and two decimal points
Agerange["Percentage of Players"] = Agerange["Percentage of Players"].map("{:.2f}%".format)
#Dropping the index name
Agerange.index.name=None
#Aligning all the text to be left indented
Agerange = Agerange.style.set_properties(**{'text-align':'left'})
#Setting all table style to be left indented which causes the index to be left indented as well
Agerange.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
#Grouping the data frame by alread established bin and group labels and getting unique count of column SN, count of Purchase Id and mean & sum of Price
Agerange1 = purchase_data_df.groupby("Age Ranges").agg({"Purchase ID": "count", "Price": ["mean", "sum"], "SN": "nunique"})
#Inserting new columns
Agerange1.columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value", "SN"]
#Calculating Avg Total Purchase per Person
Agerange1["Avg Total Purchase per Person"] = Agerange1["Total Purchase Value"]/Agerange1["SN"]
#Deleting column SN
del Agerange1 ["SN"]
#Formatting Average Purchase Price, Total Purchase Value and Avg Total Purchase per Person to have $ sign and two decimal points
Agerange1["Average Purchase Price"] = Agerange1["Average Purchase Price"].map("${:.2f}".format)
Agerange1["Total Purchase Value"] = Agerange1["Total Purchase Value"].map("${:.2f}".format)
Agerange1["Avg Total Purchase per Person"] = Agerange1["Avg Total Purchase per Person"].map("${:.2f}".format)
#Aligning all the text to be left indented
Agerange1 = Agerange1.style.set_properties(**{'text-align':'left'})
#Setting all table style to be left indented which causes the index to be left indented as well
Agerange1.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
#Grouping the data frame by SN and getting count of Purchase Id and mean & sum of Price
SN1 = purchase_data_df.groupby("SN").agg({"Purchase ID": "count", "Price": ["mean", "sum"]})
#Inserting new columns
SN1.columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
#Sorting by Total Purchase Value highest to lowest
SN1 = SN1.sort_values("Total Purchase Value", ascending=False)
#Formatting Average Purchase Price and Total Purchase Value to have $ sign and two decimal points
SN1["Average Purchase Price"] = SN1["Average Purchase Price"].map("${:.2f}".format)
SN1["Total Purchase Value"] = SN1["Total Purchase Value"].map("${:.2f}".format)
#Aligning all the text to be left indented
SN1 = SN1.head(5).style.set_properties(**{'text-align':'left'})
#Setting all table style to be left indented which causes the index to be left indented as well
SN1.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
#Grouping the data frame by Item Id and Item Name and getting count of Purchase Id and mean & sum of Price
Item1 = purchase_data_df.groupby(["Item ID", "Item Name"]).agg({"Purchase ID": "count", "Price": ["mean", "sum"]})
#Inserting new columns
Item1.columns=["Purchase Count", "Item Price", "Total Purchase Value"]
#Sorting by Purchase Count highest to lowest
Item1 = Item1.sort_values("Purchase Count", ascending=False)
#Formatting Item Price and Total Purchase Value to have $ sign and two decimal points
Item1["Item Price"] = Item1["Item Price"].map("${:.2f}".format)
Item1["Total Purchase Value"] = Item1["Total Purchase Value"].map("${:.2f}".format)
#Aligning all the text to be left indented
Item1 = Item1.head(5).style.set_properties(**{'text-align':'left'})
#Setting all table style to be left indented which causes the index to be left indented as well
Item1.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [47]:
#Grouping the data frame by Item Id and Item Name and getting count of Purchase Id and mean & sum of Price
Item2 = purchase_data_df.groupby(["Item ID", "Item Name"]).agg({"Purchase ID": "count", "Price": ["mean", "sum"]})
#Inserting new columns
Item2.columns=["Purchase Count", "Item Price", "Total Purchase Value"]
#Sorting by Total Purchase Value highest to lowest
Item2 = Item2.sort_values("Total Purchase Value", ascending=False)
#Formatting Item Price and Total Purchase Value to have $ sign and two decimal points
Item2["Item Price"] = Item2["Item Price"].map("${:.2f}".format)
Item2["Total Purchase Value"] = Item2["Total Purchase Value"].map("${:.2f}".format)
#Aligning all the text to be left indented
Item2 = Item2.head(5).style.set_properties(**{'text-align':'left'})
#Setting all table style to be left indented which causes the index to be left indented as well
Item2.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])